
<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
     <link rel="preconnect" href="https://app.snipcart.com">
<link rel="preconnect" href="https://cdn.snipcart.com">
<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.26/default/snipcart.css" />
<title>Document</title>
</head>
<body>
  {{ $Scratch := newScratch }}
     {{ partial "header" (dict "Kind" .Kind "Template" "Single") }}
     {{ $promo := site.Data.promo }}
     {{- $cnk1 := .Params.cnk -}}
     {{- $publicprijs := .Params.publicprice -}}

     <ul><li><a href="/">Handen-categorie</a></li>
     <li style="padding-left: 24px;"><a href="/handen/handverzorging/">Handverzorging</a></li>
     <li style="padding-left: 24px;"><a href="/handen/handhygiene/">Handhygiene</a></li>
     <li style="padding-left: 24px;"><a href="/handen/manicure-pedicure/">Manicure & pedicure</a></li>
</ul>
     <div style="margin:25px;">
          <h1>{{.Title}}</h1>
          <h2>{{.Params.price}}</h2>
          <!--<div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>-->
          <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div style="font-size:18px;"><img src="{{.Params.photos_medium}}"></div>
          <button class="snipcart-add-item waves-effect waves-light btn"
              data-item-id="{{ .Params.cnk }}"
              data-item-name="{{ .Title }}"
              data-item-price="{{ .Params.publicprice }}"
              data-item-url="{{ .URL }}"
        >
               <img src="https://img.flaticon.com/icons/png/512/34/34627.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" style="width:64px;">
          </button>
          <div style="font-size:18px;">CNK: <strong>{{.Params.cnk}}</strong></div>
          {{ $Scratch.Set "promoprijsje" 0 }}
          {{ range $promo }}
            111 {{ .cnk }} {{$cnk1 }} 111


            {{ if eq .cnk $cnk1 }}
               yes
               {{ $Scratch.Set "promoprijsje" .promo_euro }}
               newppcnk= {{ $Scratch.Get "promoprijsje" }}
            {{ end }}

          {{ end }}


          ppoutside {{ $Scratch.Get "promoprijsje" }}
          {{ $ok := $Scratch.Get "promoprijsje" }}
          promoprijs = {{ $ok}}
          {{ if $publicprijs}}
             {{- $num1 := float .Params.publicprice -}}
             {{- $num2 := float $ok -}}
             {{$np := sub $num1 $num2}}

          <div style="font-size:18px;">Gewicht: {{.Params.weight}} gram</div>
          <div style="font-size:18px;">Breedte: {{.Params.width}} mm</div>
          <div style="font-size:18px;">Lengte: {{.Params.length}} mm</div>
          <div style="font-size:18px;">Diepte: {{.Params.depth}} mm</div>
          <div style="font-size:18px;">oude Prijs: {{.Params.publicprice}} -- New prijs {{ lang.NumFmt 2 $np }}  €</div>
          <div style="font-size:18px;">Categorie: {{.Params.publiccategory_name_nl}}</div>
          <div style="font-size:18px;">APB Categorie: {{.Params.apbcategory_name_nl}}</div>
          <div style="font-size:18px;">Merk: {{.Params.brands_name_nl}} </div>

          {{end}}

            <div style="font-size:18px;">Omschrijving: {{.Content}} </div>

     </div>
     {{ partial "footer" . }}
</body>
</html>
